/* Global Styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  margin: auto;
  background-color: #55acee;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer";
  grid-template-columns: auto auto auto auto auto auto;
  padding: 0;
  margin: auto;
  width: 100%;
}
/* Header*/
header {
  grid-area: header;
  background-color: #f7f7f7;
}
.header-bg {
  background-image: url(../images/sample-img-07.jpg);
  height: 37rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-info {
  background-color: #292f33;
  color: #f7f7f7;
  padding: 0.5rem 1rem;
}
.header-info a {
  color: #f7f7f7;
  text-decoration: none;
}
.header-info a:hover {
  color: #dd2150;
}
.page-language {
  float: right;
}
.logo-ftn {
  float: left;
  padding-left: 2.5rem;
}
.logo-ftn img {
  border-radius: 50%;
  height: 5.4rem;
}
/* Navbar */
nav {
  background-color: #dd2150;
  background: linear-gradient(to right, #8400ff, #ff8c00, #40e0d0);
  color: #fff;
  height: 5.4rem;
}
/* Dropdown */
ul {
  list-style-type: none;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: bold;
  float: right;
}
li {
  float: left;
}
li a,
.dropbtn {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
}
li a:hover,
.dropdown:hover .dropbtn {
  background-color: #dd2150;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #dd2150;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #fff;
  padding: 2rem 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #dc5173;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.search {
  float: right;
  padding: 1.9rem;
}
#search-field,
#btnSearch {
  padding: 0.2rem;
  border-radius: 0.2rem;
}
/* Main */
main {
  grid-area: main;
  background-color: #f7f7f7;
}
/* .aside-menu { grid-area: aside-menu; }
.aside-content { grid-area: right-side-content; } */
.main-section {
  float: left;
  width: 70%;
}
.aside-section {
  float: right;
  width: 30%;
}
article {
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
}
/* Footer */
footer {
  grid-area: footer;
}
footer {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0.5rem 0;
  background-color: #292f33;
  color: #fff;
}
/* Media Queries */
@media screen and (max-width: 43.75em) {
  .header-flag,
  .header-flag,
  .logo-ftn,
  .nav-bar,
  .aside-menu,
  .aside-content,
  .footer {
    flex-direction: column;
  }
}
