/******************** root ********************/
:root {
  --body-bg-color: #b8d7ff;
  --header-bg-color: #fff;
  --main-bg-color: #ff0000;
  --nav-bg-color: #010b63;
  --nav-hover-color: #1652a0;
  --dropdown-bg-color: #b8d7ff;
  --dropdown-hover-color: #ddf2ff;
  --footer-bg-color: #00052e;
  --general-font: "Segoe UI", Tahoma, Verdana, sans-serif;
  --bg-gradient-color: linear-gradient(to bottom, #fff 8%, #ff0000 150%);
}
/******************* general ******************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--general-font);
  margin: auto;
  background-color: var(--body-bg-color);
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "nav nav nav nav nav nav"
    "main main main main main main"
    "footer footer footer footer footer footer";
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 5px;
  background: var(--bg-gradient-color);
  padding: 0;
  margin: auto;
  max-width: 75rem;
}
/******************* header *******************/
header { grid-area: header; }
.header-flag {
  /* grid-area: header-flag; */
  margin: auto;
  float: left;
}
.header-headings {
  /* grid-area: header; */
  text-align: center;
  margin: auto;
  float: left;
}
.logo-ftn {
  /* grid-area: logo-ftn; */
  text-align: center;
  margin: auto;
  padding: 5px 5px 0px 0px;
  float: right;
}
/******************** nav ********************/
nav { grid-area: nav; }
nav {
  background-color: var(--nav-bg-color);
  color: white;
}
/* dropdown menu - w3schools */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li { float: left; }
li a,
.dropbtn {
  display: inline-block;
  color: var(--header-bg-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover,
.dropdown:hover .dropbtn { background-color: var(--nav-hover-color); }
li.dropdown { display: inline-block; }
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dropdown-bg-color);
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}  
.dropdown-content a:hover { background-color: var(--dropdown-hover-color); }
.dropdown:hover .dropdown-content { display: block; }
.search {
  float: right;
  padding: 14px 16px;
}
.ftn {
  font-size: 50px;
  margin: 0;
  padding: 10px;
}
/******************* main *********************/
main { grid-area: main; }
/* .aside-menu { grid-area: aside-menu; }
.aside-content { grid-area: right-side-content; } */
.main-section {
  float: left;
  width: 70%;
}
.aside-section {
  float: right;
  width: 30%;
}
article {
  margin: 10px;
  padding: 15px;
}
/******************* footer ********************/
footer { grid-area: footer; }
footer {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 20px 0px 20px 0px;
  background-color: var(--footer-bg-color);
  color: var(--header-bg-color);
}
/*************** media queries *****************/
@media screen and (max-width: 43.75em) {
  .header-flag,
  .header-flag,
  .logo-ftn,
  .nav-bar,
  .aside-menu,
  .aside-content,
  .footer { flex-direction: column; }
}