* {
	box-sizing: border-box;
  }

.hdrflagRS {
	grid-area: hdrFlagRS;
	margin: auto;	
}

.header {
	grid-area: header;
	text-align: center;
	margin: auto;	
}

.logoFTN {
	grid-area: logoFTN;
	text-align: center;	
	margin: auto;
	padding: 5px 5px 0px 0px;
}

.menu {
	grid-area: menu;
}

.lSide {
	grid-area: lSide;
}

.rSide {
	grid-area: rSide;
}

.footer {
	grid-area: footer;
}

.grid-container {
	display: grid;
	grid-template-areas: 
		'hdrFlagRS header header header header logoFTN'
		'menu menu menu menu menu menu'
		'lSide lSide lSide lSide rSide rSide'
		'footer footer footer footer footer footer';
	grid-template-columns: auto auto auto auto auto auto;
	grid-gap: 5px;
	background: linear-gradient(to bottom, #ffffff 8%, #ff0000 150%);
	padding: 0;
	margin: auto;
	max-width: 1200px;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: auto;
	background-color: #b8d7ff;	
}

.menu {
	background-color: rgb(1, 11, 99);
	color: white;
}

/* dropdown menu - w3schools */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: #1652a0;;
}
  
li.dropdown {
	display: inline-block;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #b8d7ff;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
  
.dropdown-content a:hover {background-color: #ddf2ff;}
  
.dropdown:hover .dropdown-content {
	display: block;
}

#pretraga {
	float: right;
	padding: 14px 16px;
}

#FTN {
	font-size: 50px;
	margin: 0;
	padding: 10px;
}

.footer {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 20px 0px 20px 0px;
	background-color: rgb(0, 5, 46);
	color: white;
}

.article {
	margin: 10px;
	padding: 15px;
}

@media screen and (max-width: 700px) {
	.hdrFlagRS, .header, .logoFTN, .menu, .lSide, .rSide, .footer {   
	  flex-direction: column;
	}
  }